<style>
    .search-box {
        padding: 8px;
      }

      .search-box input {
        width: 188px;
        margin-bottom: 8px;
        display: block;
      }

      .search-box button {
        width: 90px;
        height: 30px;
      }

      .search-button {
        margin-right: 8px;
      }
</style>
<nz-card>
   <div nz-row nzGutter="24">
       <div nz-col nzSpan="19">
            工商信息
       </div>
       <div nz-col nzSpan="5">
            <button nz-button nzType="default" (click)="download()" *ngIf="!isEdit"><i nz-icon nzType="download" nzTheme="outline"></i>下载模板</button>
            <button nz-button nzType="default" (click)="upFile()" *ngIf="!isEdit"><i nz-icon nzType="upload" nzTheme="outline"></i>上传文件</button>
            <button nz-button nzType="default" (click)="giveUp()" *ngIf="isEdit"><i nz-icon nzType="export"></i>放弃</button>
            <button nz-button nzType="default" (click)="submitForm()" *ngIf="isEdit"><i nz-icon nzType="save" nzTheme="outline"></i>保存</button>
       </div>
   </div>
</nz-card>
<nz-card nzTitle="导入" *ngIf="showInContral">
    <input type="file" (change)="change($event)" multiple="false" class="ml-sm" />
  </nz-card>

<nz-card style="min-height: 800px;">
    <div nz-row nzGutter="24" style="margin-bottom: 50px;">
        <div nz-col nzSpan="8">
            <div>
                数据时间:
                <nz-month-picker [nzDisabledDate]="disabledDate" [(ngModel)]="date" (ngModelChange)="onChange($event)" nzAllowClear="false"></nz-month-picker>
            </div>
        </div>
        <!-- <div nz-col nzSpan="9">
            销售收入:  
            <input type="number" nz-input placeholder="最低收入" 
                style="width:120px; text-align: center;margin-left:15px"/>
            <input type="text" disabled nz-input placeholder="~"
                style="width: 40px; pointer-events: none;border:none; background-color: rgb(255, 255, 255);"/>
            <input type="number" nz-input placeholder="最高收入"  style="width: 120px; text-align: center"/>
        </div> -->
        <div nz-col nzSpan="16">
            <button style="margin-left: 15px;" nz-button nzType="default" >
                <i nz-icon nzType="search"></i>
                查询
              </button>
              <button style="margin-left: 15px;" nz-button nzType="default" >
                重置
              </button>
        </div>
    </div>

      <nz-table #nzTable [nzData]="listdata" nzBordered="true">
        <thead>
          <tr>
            <th nzCustomFilter>
              公司名称
              <i
                nz-th-extra
                class="ant-table-filter-icon"
                nz-icon
                nz-dropdown
                #dropdown="nzDropdown"
                nzType="search"
                [nzDropdownMenu]="menu"
                [class.ant-table-filter-open]="dropdown.nzVisible"
                nzTrigger="click"
                nzPlacement="bottomRight"
                [nzClickHide]="false"
                nzTableFilter
              ></i>
            </th>
            <th>统一社会信用代码</th>
            <th>注册营业时间</th>
            <th>公司地址</th>
            <th>行业代码</th>
            <th>电话</th>
            <th>年</th>
            <th>月</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.companyName}}</td>
            <td>{{ data.companyCode}}</td>
            <td>{{ data.registeredTimeDate}}</td>
            <td>{{ data.companyAddress}}</td>
            <td>{{ data.industryCode}}</td>
            <td>{{ data.phoneNumber}}</td>
            <td>{{ data.year}}</td>
            <td>{{ data.month}}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="请输入搜索内容" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            搜索
          </button>
          <button nz-button nzSize="small" (click)="reset()">重置</button>
        </div>
      </nz-dropdown-menu>
</nz-card>