<p>home works!</p>

<hr>
<div class="content">
    <div class="left">
        <a href="#">嵌套欢迎</a>
        <a [routerLink]="[ '/home/welcome' ]">欢迎首页嵌套</a>
        <br>
        <a [routerLink]="[ '/home/setting' ]">系统设置</a>

    </div>

    <div class="right">
       <router-outlet></router-outlet>  <!--引入子路由网页-->
        
    </div>
</div>

<nz-table #basicTable [nzData]="landEvaluatingTable"   [nzBordered]="true" style="margin-bottom: 12px">
    <!-- 
     <nz-table #basicTable [nzData]="landEvaluatingTable" [nzShowPagination]="false" [(nzPageIndex)]="nzPageIndex"
        [nzBordered]="true" [(nzPageSize)]="nzPageSize" style="margin-bottom: 12px"> -->
    
        <thead>
          <tr>
            <th rowspan="2">企业名称</th>
            <th rowspan="2">县市区</th>
            <th rowspan="2">行业类别</th>
            <th colspan="6">主要指标情况</th>
          </tr>
          <tr>
            <th>用地面积</th>
            <th>主营业务收入</th>
            <th>企业在职人员</th>
            <th>用电量</th>
            <th>用水量</th>
            <th>工业用气</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          
        </tbody>
    </nz-table>