<div class="alain-default__header-logo" style="min-width: 438px;height: 64px;line-height: 60px; padding-left: 30px;background: url('../../../../assets/img/logobg.png')">
  <a
    [routerLink]="['/']"
    class="alain-default__header-logo-link"
    style="color: #ffffff; text-align: left; font-size: 20px;font-family: system-ui;
    font-weight: bolder;
    font-style: oblique;"
  >
    <img
      [src]="logo" width="34" height="34"
      style="max-height: 64px; margin-right: 10px; -webkit-filter: drop-shadow(1px 1px 0px #ffffff); filter: drop-shadow(1px 1px 0px #ffffff);"
    />
    {{ title }}
  </a>
</div>

<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav"></ul>
  <ul class="alain-default__nav">
<!--    <nz-tabset-->
<!--      [nzTabPosition]="'top'"-->
<!--      [nzTabBarGutter]="8"-->
<!--      style="background-color: #ffffff; border-radius: 0px; margin-right: 20px;"-->
<!--    >-->
<!--      <nz-tab *ngFor="let tabs of tabArray" nzTitle="{{ tabs.text }}" (nzClick)="tabClickEvent(tabs)"> </nz-tab>-->
<!--    </nz-tabset>-->

    <li *ngFor="let tabs of tabArray;let idx = index" id="title{{idx}}" (click)="tabClickEvent(tabs,idx)" style="min-width: 64px;width: auto;height: 64px;background: #3789ff;text-align: center;padding: 7px 12px 0 12px;cursor: pointer">
      <img src="../../../../assets/img/{{tabs.icon}}" alt="" width="34" height="34">
      <div style="font-size: 12px;color: #ffffff">{{tabs.text}}</div>
    </li>

    <li title="控制台">
      <div class="alain-default__nav-item" (click)="showMain()">
        <i nz-icon nzType="appstore" nzTheme="outline"></i>
      </div>
    </li>
    <li>
      <header-notify></header-notify>
    </li>
    <li class="hidden-mobile">
      <header-org></header-org>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
