<nz-card nzTitle="">
  <div nz-row>
    <div nz-col nzSpan="24">
      四上库变更记录
    </div>
  </div>
</nz-card>

<nz-card style="min-height: 800px;width: 100%;font-size: 20px;" nzTitle="">
  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-col nzSpan="6">
        <nz-tabset nzSize="default" [(nzSelectedIndex)]="tabIndex" nzType="card" nzTabBarGutter="0">
          <nz-tab nzTitle="移入记录"> </nz-tab>
          <nz-tab nzTitle="移出记录"> </nz-tab>
        </nz-tabset>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">按月份查询</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-month-picker
              [(ngModel)]="formdata.inDate"
              nzShowToday="true"
              nzAllowClear="false"
              [nzDisabledDate]="disabledDate"
              nzPlaceHolder="请选择日期"
              (ngModelChange)="dataQuery($event)"
              *ngIf="tabIndex === 0"
            >
            </nz-month-picker>
            <nz-month-picker
              [(ngModel)]="formdata.outDate"
              nzShowToday="true"
              nzAllowClear="false"
              [nzDisabledDate]="disabledDate"
              nzPlaceHolder="请选择日期"
              (ngModelChange)="dataQuery($event)"
              *ngIf="tabIndex === 1"
            >
            </nz-month-picker>
          </nz-form-control>
          <nz-form-control nzSpan="6">
            <button style="margin-left: 15px;" nz-button nzType="default" (click)="initdataIn()" *ngIf="tabIndex === 0">
              <i nz-icon nzType="search"></i>查询</button> 
            <button style="margin-left: 15px;" nz-button nzType="default" (click)="initdataOut()" *ngIf="tabIndex === 1">
              <i nz-icon nzType="search"></i>查询</button> 
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <nz-table
    #receiveTable
    [nzData]="changeRecordIn"
    *ngIf="tabIndex === 0"
    nzTableLayout="fixed"
    [nzLoading]="loadingFlag"
    [nzBordered]="true"
    [(nzPageIndex)]="nzPageIndex0"
    [(nzPageSize)]="nzPageSize0"
    style="margin-top: 20px"
  >
    <thead>
      <tr>
        <th >序号</th>
        <th >公司名称</th>
        <th >操作人</th>
        <th >操作时间</th>
        <!-- <th >操作方式</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of receiveTable.data; index as i">
        <td>{{ i + 1 + (nzPageIndex0 - 1) * nzPageSize0 }}</td>
        <td>{{ data.companyName }}</td>
        <td>{{ data.creatorName }}</td>
        <!-- <td>{{ data.createTime.getFullYear()}}年{{data.createTime.getMonth()+1}}月</td> -->
        <td>{{ data.createTime | date:'medium'}}</td>
        <!-- <td> {{data.createReason}} </td> -->
      </tr>
    </tbody>
  </nz-table>
  <nz-table
    #createTable
    [nzData]="changeRecordOut"
    *ngIf="tabIndex === 1"
    nzTableLayout="fixed"
    [nzLoading]="loadingFlag"
    [nzBordered]="true"
    [(nzPageIndex)]="nzPageIndex1"
    [(nzPageSize)]="nzPageSize1"
    style="margin-top: 20px"
  >
    <thead>
      <tr>
        <th>序号</th>
        <th>公司名称</th>
        <th>操作人</th>
        <th>操作时间</th>
        <th>备注</th>
        <th>选择退回正式库</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of createTable.data; index as i" [class.strikethrough]="data.identifying === 2">
        <td>{{ i + 1 + (nzPageIndex1 - 1) * nzPageSize1 }}</td>
        <td>{{ data.companyName }}</td>
        <td>{{ data.creatorName }}</td>
        <!-- <td [ngClass]="{'strikethrough':data.strikeFlag}">{{ data.createTime.getFullYear()}}年{{data.createTime.getMonth()+1}}月</td> -->
        <td>{{ data.createTime | date: 'medium' }}</td>
        <td>{{ data.createReason }}</td>
        <td>
          <button nz-button nzType="primary" (click)="showConfirm(i+ (nzPageIndex1 - 1) * nzPageSize1)" [disabled]="data.identifying === 2">回退</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
