/* 10.用纯CSS创建一个三角形的原理是什么？
方法一：隐藏上，左，右三条边，颜色设定为（transparent） */
    * {margin: 0; padding: 0;}
    .content {
        width: 0;
        height: 0;
        margin: 0 auto;
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent pink transparent;  /* 对应上右下左，此处为 下 粉色*/
    }

/* 复制代码方法二： 采用的是均分原理
实现步骤： 1.首先保证元素是块级元素；2.设置元素的边框；3.不需要显示的边框使用透明色。 */
    /* * {margin: 0; padding: 0;}
    .content {
        width:0;
        height:0;
        margin:0 auto;
        border:50px solid transparent;
        border-top: 50px solid pink;
    } */

    div.red{
        color:red;
    }


    .a.b.c {
        color: blue;
        background-color: hsl(100, 0, 100)
        
    }


    .test{
        /* /指定要执行过渡的属性width,height，逗号隔开，但不能从auto过渡  */
        transition-property: all;  
        transition-duration: 2s;
        transition-timing-function: ease;
        /* 过渡的时序函数，默认值ease慢速开始加速后最后减速，可选值linear匀速，ease-in加速，ease-out减速，ease-in-out
         cubic-bezier(.25,.1,.25,1);贝塞尔曲线这个是ease，setps(3,end)跳三步start表示时间开始时执行过渡，
         */
        transition-delay: 2s;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    @keyframes ball{
        from{
            margin-top: 0;
        }
        33%{
            margin-top: 400px;
            animation-timing-function: ease-in;
        }
        66%{
            margin-top: 100px;
            animation-timing-function: ease-out;
        }
        to{
            margin-top: 400px;
            animation-timing-function: ease-in;
        }
    }